In [5]:
import pandas as pd

# Read JSON file into a DataFrame
na = pd.read_csv('./normal_air_v1.csv')
cf = pd.read_csv('./caffe.csv')
mo = pd.read_csv('./medicated_oil.csv')

In [10]:
na['unix_time'] = pd.to_datetime(na['unix_time'], unit='s')
na

               unix_time  temperature  humidity  pressure  gas_resistance
0    2023-05-18 09:26:46        30.15    46.111    995.13       1241891.0
1    2023-05-18 09:26:48        30.16    46.256    995.05       1236162.0
2    2023-05-18 09:26:50        30.17    46.256    995.13       1243043.0
3    2023-05-18 09:26:52        30.18    46.256    995.01       1241891.0
4    2023-05-18 09:26:54        30.19    46.256    995.03       1244197.0
...                  ...          ...       ...       ...             ...
2162 2023-05-18 10:45:45        29.13    48.360    995.62       1302235.0
2163 2023-05-18 10:45:47        29.13    48.360    995.58       1287224.0
2164 2023-05-18 10:45:50        29.13    48.360    995.58       1302235.0
2165 2023-05-18 10:45:52        29.14    48.260    995.58       1285988.0
2166 2023-05-18 10:45:54        29.14    48.260    995.62       1297193.0

[2167 rows x 5 columns]

In [11]:
cf['unix_time'] = pd.to_datetime(cf['unix_time'], unit='s')
cf

               unix_time  temperature  humidity  pressure  gas_resistance
0    2023-05-19 03:54:01        30.18    54.952    999.82       1149228.0
1    2023-05-19 03:54:02        30.18    55.069    999.78       1145299.0
2    2023-05-19 03:54:05        30.18    55.069    999.80       1148243.0
3    2023-05-19 03:54:07        30.18    55.069    999.80       1149228.0
4    2023-05-19 03:54:09        30.19    55.069    999.80       1155172.0
...                  ...          ...       ...       ...             ...
5157 2023-05-19 07:02:26        29.47    52.811    997.05       1056782.0
5158 2023-05-19 07:02:29        29.47    52.811    997.03       1053459.0
5159 2023-05-19 07:02:31        29.46    52.811    997.03       1054288.0
5160 2023-05-19 07:02:33        29.47    52.811    997.03       1051805.0
5161 2023-05-19 07:02:35        29.47    52.811    997.05       1052632.0

[5162 rows x 5 columns]

In [12]:
mo['unix_time'] = pd.to_datetime(mo['unix_time'], unit='s')
mo

               unix_time  temperature  humidity  pressure  gas_resistance
0    2023-05-19 02:26:39        29.82    51.102   1000.19       1049334.0
1    2023-05-19 02:26:40        29.82    51.102   1000.17       1059289.0
2    2023-05-19 02:26:42        29.83    51.215   1000.17       1052632.0
3    2023-05-19 02:26:44        29.83    51.215   1000.19       1047694.0
4    2023-05-19 02:26:47        29.83    51.340   1000.19       1050980.0
...                  ...          ...       ...       ...             ...
2021 2023-05-19 03:40:29        31.09    51.374    999.90       1070288.0
2022 2023-05-19 03:40:31        31.08    51.374    999.90       1064337.0
2023 2023-05-19 03:40:33        31.09    51.374    999.92       1068581.0
2024 2023-05-19 03:40:36        31.09    51.374    999.94       1066879.0
2025 2023-05-19 03:40:38        31.09    51.374    999.92       1066879.0

[2026 rows x 5 columns]

In [15]:
na.describe().astype(int)

       temperature  humidity  pressure  gas_resistance
count         2167      2167      2167            2167
mean            29        48       995         1279944
std              0         1         0           12664
min             28        45       995         1235023
25%             29        47       995         1271347
50%             29        49       995         1281071
75%             29        49       995         1288462
max             30        50       995         1316306

In [38]:
data.iloc[1668:1690,:]

,year,month,day,hour,minute,second,temperature,humidity,pressure,gas_resistance
1668,2023,5,18,12,59,57,31.63,44.504,997.46,1274976.0
1669,2023,5,18,13,0,0,31.63,44.504,997.48,1273764.0
1670,2023,5,18,13,0,2,31.63,44.504,997.46,1284756.0
1671,2023,5,18,13,0,4,31.62,44.398,997.48,1273764.0
1672,2023,5,18,13,0,6,31.62,44.398,997.52,1273764.0
1673,2023,5,18,13,0,8,31.62,44.398,997.44,1272555.0
1674,2023,5,18,13,0,11,31.62,44.398,997.48,1282297.0
1675,2023,5,18,13,0,13,31.62,44.398,997.46,1283525.0
1676,2023,5,18,13,0,15,31.62,44.398,997.46,1272555.0
1677,2023,5,18,13,0,17,31.61,44.398,997.48,1270142.0
1678,2023,5,18,13,0,19,31.62,44.398,997.44,1282297.0
1679,2023,5,18,13,0,21,31.61,44.398,997.46,1278626.0
1680,2023,5,18,13,0,24,31.61,44.398,997.44,1287224.0
1681,2023,5,18,13,0,26,31.61,44.398,997.48,1279847.0
1682,2023,5,18,13,0,28,31.61,44.398,997.46,1272555.0
1683,2023,5,18,13,0,30,31.61,44.398,997.46,1278626.0
1684,2023,5,18,13,0,32,31.61,44.398,997.46,1273764.0
1685,2023,5,18,13,0,35,31.61,44.398,997.46,1279847.0
1686,2023,5,18,13,0,37,31.61,44.398,997.46,1283525.0
1687,2023,5,18,13,0,39,31.61,44.398,997.50,1270142.0
1688,2023,5,18,13,0,41,31.60,44.398,997.48,1276190.0
1689,2023,5,18,13,0,43,31.60,44.398,997.50,1272555.0

In [40]:
data.describe().astype(int)

,year,month,day,hour,minute,second,temperature,humidity,pressure,gas_resistance
count,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001
mean,2023,5,18,12,25,29,30,43,997,1306892
std,0,0,0,0,18,17,0,1,0,20897
min,2023,5,18,11,0,0,29,40,997,1264151
25%,2023,5,18,12,9,14,29,42,997,1287224
50%,2023,5,18,12,24,30,30,44,997,1312439
75%,2023,5,18,12,42,45,31,44,997,1322804
max,2023,5,18,13,59,59,31,49,998,1356275