In [2]:
import pandas as pd

# Read JSON file into a DataFrame
na = pd.read_csv('./normal_air_v1.csv')
cf = pd.read_csv('./caffe.csv')
mo = pd.read_csv('./medicated_oil.csv')

In [ ]:
na['unix_time'] = pd.to_datetime(na['unix_time'], unit='s')
na

In [ ]:
cf['unix_time'] = pd.to_datetime(cf['unix_time'], unit='s')
cf

In [ ]:
mo['unix_time'] = pd.to_datetime(mo['unix_time'], unit='s')
mo

In [ ]:
na.describe().astype(int)

In [ ]:
data.iloc[1668:1690,:]

In [ ]:
data.describe().astype(int)

In [22]:
na_dup = pd.read_csv('./normal_air_v2.csv')
na_dup

        unix_time  temperature  humidity  pressure  gas_resistance
0      1684744389        31.49    38.882    996.31       1354904.0
1      1684744389        31.49    38.882    996.31       1354904.0
2      1684744389        31.49    38.882    996.31       1354904.0
3      1684744389        31.49    38.882    996.31       1354904.0
4      1684744389        31.61    38.882    996.31       1352170.0
...           ...          ...       ...       ...             ...
42909  1684750919        30.11    46.959    995.93       1490545.0
42910  1684750919        30.11    46.959    995.93       1490545.0
42911  1684750919        30.11    46.959    995.93       1490545.0
42912  1684750919        30.11    46.959    995.93       1490545.0
42913  1684750919        30.15    46.959    995.91       1497207.0

[42914 rows x 5 columns]

In [23]:
# Pre-process: Remove the duplicated data
# Check for duplicate rows 
duplicate_rows = na_dup.duplicated(subset=['temperature','humidity','pressure','gas_resistance'],keep='first')
duplicate_rows
# Select rows that are not duplicates
na_no_dup = na_dup[~duplicate_rows]
na_no_dup

        unix_time  temperature  humidity  pressure  gas_resistance
0      1684744389        31.49    38.882    996.31       1354904.0
4      1684744389        31.61    38.882    996.31       1352170.0
9      1684744390        31.17    38.781    996.31       1353535.0
12     1684744390        31.46    38.781    996.33       1353535.0
17     1684744391        31.58    38.781    996.31       1359026.0
...           ...          ...       ...       ...             ...
42899  1684750917        29.87    46.959    995.88       1510710.0
42901  1684750918        30.01    46.959    995.90       1505618.0
42906  1684750918        30.07    46.959    995.93       1497207.0
42908  1684750919        30.11    46.959    995.93       1490545.0
42913  1684750919        30.15    46.959    995.91       1497207.0

[11035 rows x 5 columns]